# Reindexing
1. Series
2. DataFrame

In [1]:
import pandas as pd 

# series reindexing
ser=pd.Series({'AAPL':-0.01,'MSFT':-0.02,'TSLA':0.015})
ser

AAPL   -0.010
MSFT   -0.020
TSLA    0.015
dtype: float64

In [2]:
# re-order existing index and add new ticker 
ser.reindex(['TSLA','LULU','AAPL','MSFT'])

TSLA    0.015
LULU      NaN
AAPL   -0.010
MSFT   -0.020
dtype: float64

In [4]:
# standard series retrieval does not let you pass new items
ser[['TSLA','LULU','AAPL','MSFT']]

KeyError: "['LULU'] not in index"

In [5]:
# However, you can re-order existing entries using standard series retrieval
ser[['TSLA','AAPL','MSFT']]

TSLA    0.015
AAPL   -0.010
MSFT   -0.020
dtype: float64

In [6]:
# If you just want to exclude entries, use drop
ser.drop('TSLA')

AAPL   -0.01
MSFT   -0.02
dtype: float64

In [7]:
# DataFrame Reindexing
data = {'AAPL':[-0.01,0.015,-0.025,-0.03],
        'MSFT':[0.03,0.005,0.0015,0.015],
        'TSLA':[0.05,-0.05,-0.2,0.03],
       }

index=['20201201','20201202','20201203','20201204']
df=pd.DataFrame(data,index=index)
df

           AAPL    MSFT  TSLA
20201201 -0.010  0.0300  0.05
20201202  0.015  0.0050 -0.05
20201203 -0.025  0.0015 -0.20
20201204 -0.030  0.0150  0.03

In [8]:
new_index = ['20201205','20201204','20201203','20201202','20201201','20201130']
df.reindex(new_index)

           AAPL    MSFT  TSLA
20201205    NaN     NaN   NaN
20201204 -0.030  0.0150  0.03
20201203 -0.025  0.0015 -0.20
20201202  0.015  0.0050 -0.05
20201201 -0.010  0.0300  0.05
20201130    NaN     NaN   NaN

In [9]:
new_columns=['TSLA','LULU','AAPL','MSFT']
df.reindex(new_index,columns=new_columns)

          TSLA  LULU   AAPL    MSFT
20201205   NaN   NaN    NaN     NaN
20201204  0.03   NaN -0.030  0.0150
20201203 -0.20   NaN -0.025  0.0015
20201202 -0.05   NaN  0.015  0.0050
20201201  0.05   NaN -0.010  0.0300
20201130   NaN   NaN    NaN     NaN

In [10]:
# Loc only allows you to reindex with existing entries
df.loc[new_index,new_columns]

KeyError: "['20201205', '20201130'] not in index"

In [11]:
df.loc[['20201204','20201203','20201202','20201201'],['TSLA','AAPL','MSFT']]

          TSLA   AAPL    MSFT
20201204  0.03 -0.030  0.0150
20201203 -0.20 -0.025  0.0015
20201202 -0.05  0.015  0.0050
20201201  0.05 -0.010  0.0300

In [12]:
# Dropping
df.drop('20201204')

           AAPL    MSFT  TSLA
20201201 -0.010  0.0300  0.05
20201202  0.015  0.0050 -0.05
20201203 -0.025  0.0015 -0.20

In [13]:
df.drop('TSLA',axis=1)

           AAPL    MSFT
20201201 -0.010  0.0300
20201202  0.015  0.0050
20201203 -0.025  0.0015
20201204 -0.030  0.0150

# Sorting
1. Series
2. DataFrame

In [14]:
# series sorting
ser=pd.Series([-0.01,0.02,-0.005,-0.02],index=['20201203','20201202','20201204','20201201'])
ser

20201203   -0.010
20201202    0.020
20201204   -0.005
20201201   -0.020
dtype: float64

In [15]:
ser.sort_index()

20201201   -0.020
20201202    0.020
20201203   -0.010
20201204   -0.005
dtype: float64

In [16]:
ser.sort_index(ascending=False)

20201204   -0.005
20201203   -0.010
20201202    0.020
20201201   -0.020
dtype: float64

In [17]:
ser.sort_values()

20201201   -0.020
20201203   -0.010
20201204   -0.005
20201202    0.020
dtype: float64

In [18]:
# DataFrame Reindexing
data = {'AAPL':[-0.01,0.015,-0.025,-0.03],
        'MSFT':[0.03,0.005,0.0015,0.015],
        'TSLA':[0.05,-0.05,-0.2,0.03],
       }

index=['20201201','20201204','20201203','20201202']
df=pd.DataFrame(data,index=index)
df

           AAPL    MSFT  TSLA
20201201 -0.010  0.0300  0.05
20201204  0.015  0.0050 -0.05
20201203 -0.025  0.0015 -0.20
20201202 -0.030  0.0150  0.03

In [19]:
df.sort_index()

           AAPL    MSFT  TSLA
20201201 -0.010  0.0300  0.05
20201202 -0.030  0.0150  0.03
20201203 -0.025  0.0015 -0.20
20201204  0.015  0.0050 -0.05

In [20]:
df=df.sort_index(axis=1,ascending=False)
df.sort_index(axis=1)

           AAPL    MSFT  TSLA
20201201 -0.010  0.0300  0.05
20201204  0.015  0.0050 -0.05
20201203 -0.025  0.0015 -0.20
20201202 -0.030  0.0150  0.03

In [21]:
df.sort_values('AAPL')

          TSLA    MSFT   AAPL
20201202  0.03  0.0150 -0.030
20201203 -0.20  0.0015 -0.025
20201201  0.05  0.0300 -0.010
20201204 -0.05  0.0050  0.015