# Series Data Alignment
1. Arithmetic alignment
2. Boolean alignment

#### Arithmetic Alignment

In [1]:
import pandas as pd
ret1=pd.Series({'VXX':0.01,'AAPL':0.01,'LULU':-0.01,'TSLA':-0.03,'MSFT':-0.01})
ret1

VXX     0.01
AAPL    0.01
LULU   -0.01
TSLA   -0.03
MSFT   -0.01
dtype: float64

In [2]:
ret2=pd.Series({'VXX':0.02,'AAPL':-0.01,'LULU':0.02,'TSLA':-0.04,'MSFT':-0.02})
ret2

VXX     0.02
AAPL   -0.01
LULU    0.02
TSLA   -0.04
MSFT   -0.02
dtype: float64

In [3]:
ret2+ret1

VXX     0.03
AAPL    0.00
LULU    0.01
TSLA   -0.07
MSFT   -0.03
dtype: float64

In [4]:
ret3=pd.Series({'TSLA':-0.01,'AAPL':0.02})
ret3

TSLA   -0.01
AAPL    0.02
dtype: float64

In [5]:
ret1+ret3

AAPL    0.03
LULU     NaN
MSFT     NaN
TSLA   -0.04
VXX      NaN
dtype: float64

In [6]:
ret1.add(ret3,fill_value=0)
# see also "sub","div","mul"

AAPL    0.03
LULU   -0.01
MSFT   -0.01
TSLA   -0.04
VXX     0.01
dtype: float64

#### Boolean Alignment

In [7]:
ret1 > ret2

VXX     False
AAPL     True
LULU    False
TSLA     True
MSFT     True
dtype: bool

In [8]:
ret1 > ret3

ValueError: Can only compare identically-labeled Series objects

In [9]:
bool1 = (ret1 > 0)
bool1

VXX      True
AAPL     True
LULU    False
TSLA    False
MSFT    False
dtype: bool

In [10]:
bool2 = (ret2 > 0)
bool2

VXX      True
AAPL    False
LULU     True
TSLA    False
MSFT    False
dtype: bool

In [11]:
bool1 & bool2

VXX      True
AAPL    False
LULU    False
TSLA    False
MSFT    False
dtype: bool

In [12]:
bool1 | bool2

VXX      True
AAPL     True
LULU     True
TSLA    False
MSFT    False
dtype: bool

In [13]:
bool2 & bool1[['MSFT','TSLA','LULU','AAPL','VXX']]

AAPL    False
LULU    False
MSFT    False
TSLA    False
VXX      True
dtype: bool

Implies you're combining two boolean Series or DataFrames (bool2 and bool1) using element-wise logical AND.

Important:
- The order matters for element-wise logical operations (&), as it aligns indices first, not column order explicitly.
- The indexing [['MSFT','TSLA','LULU','AAPL','VXX']] explicitly selects columns in that exact order.

The operation bool2 & bool1[...] computes element-wise AND, aligning data by index and columns. If bool2 has columns ordered differently, pandas will align the columns by matching labels, not by their positions.

In [16]:
import pandas as pd

# --- Build the two boolean DataFrames ------------------------------
bool1 = pd.DataFrame({
    "MSFT": [True,  True],
    "TSLA": [True,  False],
    "LULU": [True,  True],
    "AAPL": [True,  False],
    "VXX" : [True,  False],
}, index=["row0", "row1"])

# Columns deliberately shuffled
bool2 = pd.DataFrame({
    "LULU": [False,  True],
    "AAPL": [True,   False],
    "TSLA": [True,   True],
    "MSFT": [False,  True],
    "VXX" : [False,  True],
}, index=["row0", "row1"])

# --- Element‑wise AND (aligns on labels, keeps bool2’s column order) --
result1 = bool2 & bool1[["MSFT", "TSLA", "LULU", "AAPL", "VXX"]]

print(result1)

       AAPL   LULU   MSFT   TSLA    VXX
row0   True  False  False   True  False
row1  False   True   True  False  False

In [14]:
bool2 & bool1[['VXX']]

AAPL    False
LULU    False
MSFT    False
TSLA    False
VXX      True
dtype: bool